/target
**/*.rs.bk
.idea
.idea/*
.run
.run/*
/Cargo.lock
node_modules
clion-run-config-backup.xml
client/wasm_bindgen/target
client/wasm_bindgen/target/
client/wasm_bindgen/target/*
client/miniquad/target
client/miniquad/target/
client/miniquad/target/*
server/target
server/target/
server/target/*
server/docker-context
server/docker-context/
server/docker-context/*